* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #fff;
}
.logo {
    font-size: 2em;
    color: #555;
    cursor: default;
}
.logo span {
    color: #7d2ae8;
}
.navigation {
    margin-left: -300px;
}
.navigation a {
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover {
    color: #7d2ae8;
}
.btn-talk {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}
.btn-talk:hover {
    color: #7d2ae8;
    background: transparent;
}

section.portfolio {
    padding: 100px 50px;
    margin-top: 80px;
}

.portfolio h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
    color: #333;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.project {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 350px;
    flex: 1 1 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project img {
    width: 100%;
    height: auto;
}

.project-details {
    padding: 20px;
}

.project-details h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #555;
}

.project-details p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #666;
}

.btn-view-project {
    color: #7d2ae8;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #7d2ae8;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-view-project:hover {
    background-color: #7d2ae8;
    color: #fff;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    color: #777;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .portfolio-content {
        flex-direction: column;
        align-items: center;
    }
    .project {
        max-width: 100%;
    }
}
